.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}
.ant-layout{
    height: 100vh;
}

.site-layout-background{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header   ul {
  list-style: none;;
  display: flex;
  margin: 0;
  padding: 5px 10px ;
}

header ul li{
  padding: 5px 10px;
}

.avatar {
  vertical-align: middle;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: space-between;
  margin-left: 0px;
}


