
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header   ul {
  list-style: none;;
  display: flex;
  margin: 0;
  padding: 5px 10px ;
}

header ul li{
  padding: 5px 10px;
}

.avatar {
  vertical-align: middle;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: space-between;
  margin-left: 0px;
}
